<div class="body">
    <div class="container">
        <h4>Modifier mot de passe !</h4>
        <div class="user-box avantValider1">
            <label for="number">Votre numero de telphone</label><br>
            <input type="number" placeholder="697856324" [(ngModel)]="numero" name="" required id="number"
                class="form-control">
        </div>
        <div class="text-center button  avantValider2" (click)="hideForm()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="button" class="btn btn-primary  btn-block">Continuer ...</button>
        </div>
        <form action="" [formGroup]="resetForm" (ngSubmit)="resetPassword()">

            <div class="user-box validerUpdate1" style="display: none;">
                <label for="password">Code d'authentification</label><br>
                <input type="password" name="" placeholder="**********" required id="password" class="form-control"
                    formControlName="codeAuth">
            </div>
            <div class="text-center button validerUpdate2" style="display: none;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="resetForm.invalid || submitting">
                    <div *ngIf="!submitting">Modifier le code</div>
                    <div *ngIf="submitting">
                        <i class='bx bx-loader bx-spin'
                            style="font-size: 25px; letter-spacing: 5px; font-weight: 600;"></i>
                    </div>
                </button>
            </div>
        </form>
        <div class="new-account mt-3 noAccount">
            <p>Avez-vous votre mot de passe? &nbsp; <a class="text-primary" (click)="formConnexion()">Retour</a></p>
        </div>
    </div>
</div>